/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

/** basic coloring */
html, #topborder, footer {
  background-color:#aaa;
}

body, #container {
  background-color:#fff;
}



html {
  height: 100%;
}

body {
  width: 95%;
  /*overflow-x: hidden;*/
  min-width: 300px;
  max-width: 1000px;
  min-height: 100%;
  height: 100%;
  margin: auto;
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;  
}

#container { /* this is needed to place the footer correctly */
  position: relative;
  min-height: 100%;
}

#topborder {
  height: 10px;
}
/* === Header === */

header, nav {
  overflow:hidden;
  width: 100%;
  margin: 0 0 0 0;
}

header {
  margin: 0 0 70px 0; /* bottom = height of nav */
}

#uzhlogo {
  display: block;
  float: right;
}

h1 {
  display: block;
  margin: 0.5em 0 0.5em 0.5em;
}

#banner {
  display:block;
  width: 1000px;
  height: 80px;
  background-color:#000;
}



/* === MENUE === */

nav {
  display: block;
  position: absolute;
  top: 200px;
  width: 100%;
  height: 70px;
  
  /*text-align: center;*/
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 0;
}

nav.fixed { /* the fixed nav bar when scrolled down */
  position: fixed;
  top: 0;
  width: 95%; /* same as body */
  max-width: 1000px; 
}

nav ul{
  display: block;
/*  position: relative;
  width: 100%;*/
  margin: 0 10px 0 10px;
  padding: 0;
}

nav .menu.sub {
  display: none;
  position: absolute;
  left:0;
  right:0;
  background-color: #000;
}

nav .menu.sub.active {
  display: block;
}
  
nav li {
  display:inline-block;
  /*min-width: 80px;*/
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
}

nav .top > li {
  font-size: 120%;
  /*background-color: #ddd;*/
}

nav .sub > li {
  font-size: 100%;
  /*background-color: #999;*/
}

nav a:link,
nav a:visited {
  color: inherit; /* override browser default */
  text-decoration:none;
}

nav li.active {
  color: #aaa;
  background-color: #000;
}


nav li:hover {
  color: #84A5DE;
  background-color: #000;
}



/* === BODY ELEMENTS === */

article {
  overflow: hidden; /* is needed to clear the floats at the end */
  /*height: auto;*/
  /* min-height: 100%; */
  /*min-height: 500px;*/
  margin: 0.5em 0.5em 0 0.5em;
  padding-bottom: 3em; /* platz fuer footer */
}

/* ein artikel dem noch einer folgt -> kein platz fuer footer */
article + article {
  margin: 0.5em 0.5em 0 0.5em;
}

article p {
  line-height: 1.75; /* Zeilenabstand */
}

h2 {
  margin: 0.83em 0 0.25em 0; 
}

section {
  overflow: hidden; /* is needed to clear the floats at the end */
}

h3 {
  margin: 0.5em 0 0.125em 0;
}

figure { /* without class, big centered image */
  display: inline-block;
  
  margin: 10px;
  padding: 5px;
  
  border: 5px solid white;

  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
}

figure.right {
  float: right;
}

figure.left {
  float: left;
}

figure img {
  display: inline-block;
  padding: 0;
}

figure.big img {
  max-width: 500px;
  max-height: 400px;
}

figure.small img {
  max-width: 300px;
  max-height: 200px;
}


figure figcaption {
  font-size: 0.83em;
  text-align: center;
  margin-top: 8px;
}

#tbl_seminar {
  width: 100%;
}

#tbl_seminar th {
  text-align:left;
}

#tbl_seminar tr {
  border-bottom: 1px solid black;
}

#sem_date {
  min-width: 100px;
}

#sem_title {
  min-width: 500px;
}

#sem_speaker {
  min-width: 200px;
}



/* === FOOTER === */

footer {
  position: absolute;
  clear: both;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3em;
  background-color: #aaa;

  color: #333; 
  font-size: 70%;
  text-align: right;
}

footer p {
  margin: 0;
  padding: 1em 1em 0 1em;
}

footer a {
  color: #333;
}

/* === SPECIAL CONTENT === */


/*people page*/

.peoplelist li {
  padding: 0 0 0.33em 0;
}

.peoplelist.current .homepage{
  display: inline-block;
  min-width: 200px;
}

.peoplelist .titlename {
  display: inline-block;
  min-width: 200px;
}

.peoplelist .email{
  display: inline-block;
  min-width: 200px;
}

.room,
.email,
.leavedate,
.leavedest {
  font-size: 0.667em;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}




/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */


@media only screen and (min-width: 640px) and (max-width: 750px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  body {
    width: 100%;
    min-width: 640px;
  }
}





@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
